:root {
    --hero-background: #533B4D; 
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#hero {
    display: flex;
    flex-direction: column;
    background-color: var(--hero-background);
    height: 50%;
}

.avatar {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}
#menu {
    display: flex;
    flex-direction: row;
}