:root {
    --hero-background: #533B4D; 
    --body-background: #FAE3C6;
    --hover: #F564A9;
    --body-text: #5E4B56;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    color: var(--hero-background);
    font-size: 2rem;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    color: var(--hero-background);
    font-size: 1rem;
    font-weight: 700;
}

a, p {
    font-size: 1.1rem;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Nunito', sans-serif;
    color: var(--body-text);
    background-color: var(--body-background);
}

#hero {
    display: flex;
    flex-direction: column;
    background-color: var(--hero-background);
    height: 50%;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
}

.avatar {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    background-color: var(--body-background);
    padding: 2rem 1.5rem;
    border-radius: 20px;
    font-weight: 700;
}

a {
    text-decoration: none;
    transition: color 0.3s ease;
}

a:link {
    color: var(--hero-background);
}

a:visited {
    color: var(--hero-background);
}

a:hover {
    color: #FAA4BD;
}

a:active {
    color: var(--hover);
}

.contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.section {
    max-width: 50%;
    margin: 2rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    min-width: 800px;
    margin: 0;
    padding: 0;
}

.img-project {
    width: 100%;
    margin-bottom: 1.5rem;
}


@media (max-width: 1000px) {
    #menu {
        display: flex;
        flex-direction:  column;
        width: 50%;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
    }

    #hero {
        padding: 5rem;
    }

    .section {
        margin: 2rem 3rem;
    }

    .container {
        flex-wrap: wrap;
        min-width: 100%;
    }
}


